.tabla_horario {
	display: none;
}

table{
	border-collapse: collapse;
	font-size: 1.5em;
	width: 100%;
}
table thead{
	background-color:#fff;
}

body table th {
	font-size: 1.2em;
}
td, th {
	text-align: center;
	border: 1px solid #AAA;
	margin: 0;
	padding: 5px;
}
td div {
	border-top: 3px dashed RGBA(0,0,0,0.3);
	margin-top: 5px;
	padding: 10px;
	font-size: 0.7em;
	color: #444;
}
.grupo {
	padding-left: 5px;
	float: left;
}
.lugar {
	padding-right: 5px;
	float: right;
}
sup {
	font-size: 0.7em;
}

tr:nth-child(even) {background: #FFF}
tbody tr:nth-child(odd) {background: #CCC}

tr.receso{
	background: #4FE148;
}
tr.libre,
tr.apoyo {
	background: #E8E872 !important;
}

tr.activa:nth-child(even) {background: #1293FF; color: #FFF; text-shadow: 0 -1px 0 RGBA(0,0,0,0.3)}
tbody tr.activa:nth-child(odd) td div, 
tbody tr.activa:nth-child(odd) {background: #017CE4; color: #FFF; text-shadow: 0 -1px 0 RGBA(0,0,0,0.3)}

body div.ui-content {
	padding: 0 !important;
}
body div.ui-page{
	background-color:#E4E4E4;
}
/** 
 * Vista para dispositivos pequeños
 ***/
@media (max-width: 600px) and (orientation: landscape){
	body {
		font-size: 0.5em;
	}
	table,
	#dia-a-mostrar {
		font-size: 0.75em;
	}
	td, th {
		padding: 2px;
	}
	td div {
		border-top: 2px dashed RGBA(0,0,0,0.3);
		margin-top: 3px;
		padding: 5px;
	}
}
